{% load static %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{{ title }}</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link href="{% static 'cms_orders/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'cms_orders/css/modal.css' %}" rel="stylesheet"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />

    <script
            src="https://kit.fontawesome.com/77958dfe96.js"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<header>
    <div class="d-flex flex-column gap-4 mb-2">

        <!-- Меню -->
        {% block mainmenu %}
            <div>
                <div class="container underline">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid ps-0">
                            <a class="navbar-brand" href="{% url 'index' %}">
                                <div class="brand d-flex flex-row gap-3">
                                    <img src="{% static 'cms_orders/images/logo.svg' %}" alt="Logo"/>
                                    <span>Ya-delivery</span>
                                </div>
                            </a>
                            <button
                                    class="navbar-toggler"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent"
                                    aria-expanded="false"
                                    aria-label="Переключатель навигации"
                            >
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div
                                    class="collapse navbar-collapse"
                                    id="navbarSupportedContent"
                            >
                                <ul
                                        class="navbar-nav me-auto mb-lg-0 d-flex flex-row justify-content-center main-menu-list"
                                >
                                    {% for m in menu %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url m.url_name %}">{{ m.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <ul class="navbar-nav ms-auto mb-lg-0 d-flex">
                                    {% if request.user.is_authenticated %}
                                        <li class="nav-item dropdown">
                                            <a
                                                    class="nav-link dropdown-toggle"
                                                    href="#"
                                                    role="button"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <div class="d-flex flex-row gap-2 align-items-center">
                                                    {#                            <div class="avatar">#}
                                                    {#                              <img src="../../static/cms_orders/images/avatar_ph.png" alt="Avatar placeholder" />#}
                                                    {#                            </div>#}
                                                    <span>{{ user.first_name }}</span>
                                                    <i class="bi bi-chevron-compact-down"></i>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="#">{{ user.email }}</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'profile' %}">Настройки</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider"/>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <a class="btn btn-primary" href="{% url 'signin' %}">Войти</a>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        {% endblock mainmenu %}

    </div>
</header>
<main>

    <div class="container d-flex flex-column gap-3 mb-3 mt-4">
        {% block content %}
        {% endblock %}
    </div>
</main>




{% block extra_scripts %}
{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
